header {
    background-color: orange;
    position: fixed;
    left: 0;
    right: 0;
    top:60px;
    height: 30px;
    display:flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
header * {
    display: inline-block;
    position:relative;
}

li {
    display: inline-block;
    position: relative;
    margin: 60px;
    
}
body {
    background-image:url(Blue_Background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    box-sizing: border-box;
    text-align:center;
    background-color: cornflowerblue;
    padding: 15px;
    margin: -20px;
    margin-left: -50px;   
}

select {
    text-align: center;
    left: 5%;
    position: absolute;
    
    margin-left: 350px;
}
p {
    text-align: center;
    left:0;
    position: absolute;
    top: 40%;
    margin-left: 250px;        
}
ul b {
    text-decoration:none;
}

ul div{
    list-style:none; 
    padding:15px; 
    margin:0px; 
    text-align: center; 
}
ul li div {
    border:1px solid black; 
    padding: 15px; 
    margin: 20px; 
    display: inline-block; 
    position: relative;       
}
